[package]
name = "containerd-shim-cwasi"
version = "0.0.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
containerd-shim = "0.3.0"
containerd-shim-wasm = "0.1.1"
log = "0.4.17"
ttrpc = "0.7.1"
chrono = "0.4.23"
anyhow = "1.0.69"
cap-std = "1.0.5"
oci-spec = { version = "0.6.0", features = ["runtime"] }
thiserror = "1.0.39"
serde_json = "1.0.94"
libc = "0.2.138"
wasmedge-sdk = { version = "0.7.1", features = ["async"] }

[[bin]]
name = "containerd-shim-cwasi-v1"
path = "src/main.rs"